@charset "utf-8";

#ziko{color:orange;}
p {font-size: 24px;}
h1 {font-size: 36px;}

body{
  background-color:honeydew;
}

div{
  padding: 20px 0px 0px;
}

/*ここから新たに改良したもの*/
/*テーブルの線*/
.tb{
 width: 100%;
 border-collapse: collapse;
 }
 .tb td{
 padding: 6px;
 background-color: #fff;
 border: 1px solid #b9b9b9;
 }

/*中央揃え*/
 .s1{
 	padding: 1px;
 	text-align: center;
 }
